body {
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.box {
    font-size: 20px;
    color: white;
    height: auto;
    width: 90%;
    max-width: 350px; /* Limita a largura máxima */
    border-radius: 10px;
    background: #191919;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Adiciona um pouco de padding */
}

.button-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
}

button {
    height: 30px;
    width: 40%;
    max-width: 60px;
    background: white;
    border-radius: 5px;
    color: blue;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background: lightgray;
    color: darkblue;
}

.heart {
    height: 10vw;
    width: 10vw;
    background: #f20044;
    position: relative;
    transform: rotate(45deg);
    box-shadow: -5px 5px 45px #f20044;
    animation: heart 0.6s linear infinite;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.1);
    }
    50% {
        transform: rotate(-45deg) scale(1.05);
    }
    100% {
        transform: rotate(-45deg) scale(1);
    }
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    height: 10vw;
    width: 10vw;
    background: #f20044;
    border-radius: 50%;
    box-shadow: -5px -5px 45px #f20044;
}

.heart::before {
    top: -50%;
}

.heart::after {
    right: -50%;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    font-style: oblique;
    font-size: 1.5rem; /* Ajusta o tamanho da fonte */
    margin-bottom: 20px; /* Adiciona margem inferior */
}

p {
    font-style: oblique;
}

@media (max-width: 600px) {
    .heart {
        height: 15vw;
        width: 15vw;
    }
    
    .heart::before,
    .heart::after {
        height: 15vw;
        width: 15vw;
    }
}
