body {
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.box {
    font-size: 20px;
    color: white;
    height: 250px;
    width: 350px;
    border-radius: 10px;
    background: #191919;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 150px;
}

button {
    height: 30px;
    width: 50px;
    background: white;
    border-radius: 5px;
    color: blue;
    font-weight: 600;

}

.heart {
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;

}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(1.07);

    }
    80% {
        transform: rotate(-45deg) scale(1.0);

    }
    100% {
        transform: rotate(-45deg) scale(0.8); 
    }
}

.heart::before {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

.heart::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

h1 {
    color: aliceblue;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    vertical-align: bottom;
    bottom: -100px;
    right: 100px;
    font-style: oblique;
}

p {
    font-style: oblique;
}
